@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
			float: right;
}

h1 {
	color: red;
	

}

<<<<<<< Updated upstream
.eslrTitle {
	font-weight: bold; }
=======
span {
	font-weight:bold; 
	color: blue;}
>>>>>>> Stashed changes

a:hover {
	background-color: green;
	color: black;
	font-weight:bold;
	}
#eslrMenu {
font-weight: bold;}