@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

h1 {

}

a:hover {
  color: white;
  background-color: red;
}

a:visited {
  text-decoration: none;
}


a:active {
  text-decoration: red;
}
