@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

h1 {
color: blue;
font-weight: bold;

}

h2 {
color: white;

}

.eslrTitle {
  color: red;
  font-weight: bold;

}

a:link{
  color: #900;
  background-color: #0CF

}

a:hover{
  color: #0CF;
  background-color: #900;

}
