/* CSS Document */

#eagleLogo {
	float: right;
	
}
h1 {
    color: Red;
}
h2 {
    color: green;
}


.eslrTitle {
   text-transform:capitalize;
    font-family:sans-serif;
    font-weight:Bold;

        
}
a:hover {
    color: pink;
    background-color: #333333;
}

a:link {
    color: purple;
}

a:visited {
    color: black
    
}