@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
    float: right;
}

h1 {
	color: #9999FF; 
	font-weight: bold;
}
h2 {
	color: #0099FF;
	font-weight: bold;
}

.eslrTitle {
	font-weight: bold;
}

a:hover {
    color: yellow;
    font-weight: bold;
    font-size: 2 px;
}
