@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
			position:absolute;
			right: 1000px;
}

h1 {
	color: red;
	

}
li{
	font-weight: strong;
	}

a:hover {
	background-color: green;
	color: black;
	font-weight:bold;
	}
