@charset "UTF-8";
/* Sample CSS Document */

body {
	background-color: #fff4fb;
	}
	
#eagleLogo {
float: right;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: Bold;
	color: #821418;
	text-decoration: underline overline;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-decoration: underline;
	background-color: #fae7ea;
	color: #c8374d;
}
#topMenu {
	background-color: #b54a63;
	width: 500px;
	}
#topMenu li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}
#eslrMenu {
	border: 1px solid #f5cfd5
	width: 500px;
}
.eslrTitle {
	font-family: Times New Roman, serif;
	text-transform: uppercase;
	color: #bf4f4f;
}
p {
	font-family: Helvetica, Arial, sans-serif;
	color: #970000;
}
li {
	color: #ffb0b0;
	}
a:link {
	color: #f46939;
	}
a: hover {
	color: #fd8a55;
	background-color: #f666db;
	}
#eaglebottom {
	text-align: center
	height: 250px;
	width: 250px;
}